/*
    Stylesheet specifically for the SAM module
*/
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

div#contextmenu {}
div#contextmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #FBFDFF; 
}
div#contextmenu ul li { 
	display: inline-block; *display: inline; zoom: 1; 
}
div#contextmenu a {
	display: inline-block;
 	*display: inline; zoom: 1;	
	padding: 5px 11px;
}
	
div#contextmenu a:hover {
	background-color: #F0FBFF;
	color: #359; 
}

/* Header above each page */
h1 { padding-left: 11px; }

/* Div around all data (lists/forms) including buttons */
div.data { padding-left: 11px;}

/* Buttons specifically targeted at the data shown */
ul.data_nav {
    color: #333333;
    font-weight: bold;
    margin: 2px 3px;	/* top/bottom right/left */
    padding: 0px; 
    list-style-type: none;
}
ul.data_nav li { display: inline-block; *display: inline; zoom: 1; margin-right: 20px; }

#footer { display: none; }

.hamdmadeButton {
    cursor: pointer;
}

.addItem {
    background: url("../plugins/famfamfam-1.0.1/images/icons/add.png") no-repeat scroll 5px 50% transparent;
    padding-left: 28px;
}

.deleteItem {
    background: url("../plugins/famfamfam-1.0.1/images/icons/delete.png") no-repeat scroll 5px 50% transparent;
    padding-left: 28px;
}

#content a:link, #content a:visited {
    color: #333333;
}

.errors {
    /*color: #FF0000;*/
    background: url("/sam_2/plugins/famfamfam-1.0.1/images/icons/error.png") no-repeat scroll 10px 10px #ffcccc;
    border: 1px solid #FF0000;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 10px 33px;
    text-align: justify;
}