/*
    Stylesheet specifically for the SAM module
*/
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

div#contextmenu { margin-top: 0; }
div#contextmenu ul {
	list-style-type: none;
	margin: 0 0 0 11px;
	padding: 0;
	background-color: #FBFDFF; 
}
div#contextmenu ul li { 
	display: inline-block; *display: inline; zoom: 1; 
}
div#contextmenu a {
	display: inline-block;
 	*display: inline; zoom: 1;
 	padding-top: 6px; padding-bottom: 6px;
}
	
div#contextmenu a:hover {
	background-color: #F0FBFF;
	color: #359; 
}

/* Header above each page */
h1 { padding-left: 11px; }

/* Div around all data (lists/forms) including buttons */
div.data { padding-left: 11px;}

/* Buttons specifically targeted at the data shown */
ul.data_nav {
    color: #333333;
    font-weight: bold;
    margin: 2px 3px;
    padding: 0px; 
    list-style-type: none;
}
ul.data_nav li { display: inline-block; *display: inline; zoom: 1; margin-right: 20px; }

#footer { display: none; }

#content a:link, #content a:visited {
    color: #333333;
}

/* Used for distinguishing parts of the screen */
.border-top { border-top: 2px solid #ccc; }

/* This class is used for error messages */
.errors {
    background: url(../plugins/famfamfam-1.0.1/images/icons/error.png) no-repeat scroll 10px 10px #ffcccc;

}

.badcell {
    background: url(../plugins/famfamfam-1.0.1/images/icons/error.png) no-repeat scroll 2px 1px #ffcccc;
    border: 1px solid #FF0000;
    margin: 2px 2px 0px 2px;
    padding: 2px 2px 2px 20px;
    text-align: justify;
}

.layoutchoice {
    border: 1px solid lightgray;
    margin:  15px 0px 15px 0px;
    text-align: left;
}

.buttons .import { 
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/page_white_add.png);
} 